.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

/* TODO: could these all be decided by clsx? */
.row-forward {
  flex-direction: row;
}

.col-forward {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.col-reverse {
  flex-direction: column-reverse;
}

/* Alignment classes - need to refine */

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.justify-content-center {
  justify-content: center;
}
.justify-items-center {
  justify-items: center;
}
.justify-self-center {
  justify-self: center;
}
