.flex {
  display: flex;
}

/* TODO: could these all be decided by clsx? */
.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

/* Padding styles */
.padding-zero {
  padding: 0rem;
}
.padding-one {
  padding: 0.25rem;
}
.padding-two {
  padding: 0.5rem;
}
.padding-three {
  padding: 0.75em;
}
.padding-four {
  padding: 1rem;
}
.padding-five {
  padding: 1.25rem;
}
.padding-six {
  padding: 1.5rem;
}
.padding-seven {
  padding: 1.75rem;
}
.padding-eight {
  padding: 2rem;
}

/* Margin styles */
.margin-zero {
  margin: 0rem;
}
.margin-one {
  margin: 0.25rem;
}
.margin-two {
  margin: 0.5rem;
}
.margin-three {
  margin: 0.75em;
}
.margin-four {
  margin: 1rem;
}
.margin-five {
  margin: 1.25rem;
}
.margin-six {
  margin: 1.5rem;
}
.margin-seven {
  margin: 1.75rem;
}
.margin-eight {
  margin: 2rem;
}
